<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
    <listeners>
        <listener class-name="manage.AnnotationTransformer"/>
        <listener class-name="manage.TestListener"/>
    </listeners>
    <test name="High Risk">
        <groups>
            <run>
                <include name="High"/>
            </run>
        </groups>

        <packages>
            <package name="UnsplashTest"></package>
        </packages>
<!--        <classes>-->
<!--            <class name="UnsplashTest"/>-->
<!--        </classes>-->
    </test> <!-- Test -->
</suite> <!-- Suite -->
