<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="3" >
    <listeners>
        <listener class-name="manage.AnnotationTransformer"/>
        <listener class-name="manage.TestListener"/>
    </listeners>
    <test name="Test Basics 2">
        <classes>
            <class name="Test2"/>
        </classes>
    </test> <!-- Test -->

    <test name="Test Basics 3">
        <classes>
            <class name="Test3"/>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->
